#main_content
  %h2 Tenniscity Dashboard
  .dashboard
    - unless current_user.current_league == true
      %h3 Create a League
      = link_to 'Create A New League', new_league_path, :id => 'new', :class => "button"
    - else
      %h3 League