#dashboard_content
  %h2 Dashboard
  .dashboard
    - unless @created_teams.blank?
      %h3.action_needed Action Needed for New Team 
      = render :partial => 'partials/created_teams', :locals => { :teams => @created_teams }
      
    - unless @created_leagues.blank?
      %h3 Created Leagues waiting for team confirmations
      = render :partial => 'partials/created_leagues', :locals => { :leagues => @created_leagues }
      
    - unless @confirmed_leagues.blank?
      %h3 Leagues in Draft Mode
      = render :partial => 'partials/confirmed_leagues', :locals => { :leagues => @confirmed_leagues }

    - unless @active_leagues.blank?
      %h3 Leagues
      = render :partial => 'partials/active_leagues', :locals => { :leagues => @active_leagues }