%h2 Atp Players

.players
  %ul
    %li Atp Rank
    %li Name
    %li Country
    %li Points
    %li Tournaments Played

  -@players.each do |player|
    %ul
      %li=h player.atp_rank
      %li=link_to"#{player.name}", player_path(player)
      %li=h player.country
      %li=h player.points
      %li=h player.tournaments_played
