%h2 
  =h @player.name
  =h @player.country

.players
  %ul
    %li Atp Rank
    %li Points
    %li Tournaments Played
    
  %ul
    %li=h @player.atp_rank
    %li=h @player.points
    %li=h @player.tournaments_played   